<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="images/图标/LOGO.png" rel="shortcut icon" type="image/x-icon" />
    <title>作品赏析 - 国内名画</title>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css'><!--顶部样式调用-->
    <link rel="stylesheet" href='/stylesheets/bootstrap-theme.min.css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/works/western.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/works/public.css"/>


</head>



<body>
<!--文字导航-->
<div class="header">
    <div class="headerf">
        <nav class="nav" id="nav">
            <ul class="nav nav-tabs" >
                <li class="col-md-6">
                    <form class="col" action="/Chinese" method="post">
                        <input type="text" placeholder="请输入搜索内容" name="search"  />
                        <button name="like" >搜索</button>
                    </form>
                </li>

                <li ><a onclick="window.open('/index')"><span><img src="images/图标/home.png" width="20px" class="Icon" /></span>&nbsp;首页 </a></li><!--glyphicon是bootstrap图标的引用-->
                <li ><a href="works"><span></span>&nbsp;全部作品 </a></li>
                <li  ><a href="Western"><span><img src="images/图标/Western.png" width="20px" class="Icon" /></span>&nbsp;西方画作</a></li>
                <li class="active"><a href="Chinese"><span><img src="images/图标/Chinese.png" width="20px" class="Icon" /></span>&nbsp;国内画作 </a></li>
                <li  ><a href="userWorks"><span><img src="images/图标/userworks.png" width="20px" class="Icon" /></span>&nbsp;用户原创 </a></li>

            </ul>
        </nav>
    </div>
</div>

<!--<div class="search">-->
<!--    <div class="searchBox">-->
<!--        <ul class="lie">-->
<!--            <li>-->
<!--                <ul>-->
<!--                    <span class="condition">作者 </span>-->
<!--                    <li ><input type="submit" value="任熊" ></li>-->
<!--                    <li><input type="submit" value="顾恺之" ></li>-->
<!--                    <li><input type="submit" value="杨子华" ></li>-->
<!--                    <li><input type="submit" value="其他" ></li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li>-->
<!--                <ul>-->
<!--                    <span class="condition">风格</span>-->
<!--                    <li><input type="submit" value="工笔画" ></li>-->
<!--                    <li><input type="submit" value="写意画" ></li>-->
<!--                    <li><input type="submit" value="其他" ></li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li>-->
<!--                <ul>-->
<!--                    <span class="condition">朝代 </span>-->
<!--                    <li><input type="submit" value="战国东晋" ></li>-->
<!--                    <li><input type="submit" value="隋唐五代时期" ></li>-->
<!--                    <li><input type="submit" value="宋元清" ></li>-->
<!--                    <li><input type="submit" value="其他" ></li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li>-->
<!--                <ul>-->
<!--                    <span class="condition">表现形式 </span>-->
<!--                    <li><input type="submit" value="山水画" ></li>-->
<!--                    <li><input type="submit" value="人物画" ></li>-->
<!--                    <li><input type="submit" value="花鸟画" ></li>-->
<!--                    <li><input type="submit" value="其他" ></li>-->
<!--                </ul>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</div>-->


<!--到航栏下的内容-->
<div class="tuimg more">
    <div class="tu-rightimg tu-more">
        <ul id="parentUl" >
            <% rawData.forEach(function(item){ %>
            <li id="parentli" class="sign">
                <!-- 触发弹窗 - 图片改为你的图片地址 -->
                <img loading="lazy" id="myImg" class="myImg"  src="<%= item.ImgUrl %>" alt="《<%= item.worksName %>》-<%= item.Author %>  <%= item.Explain %>" width="300" height="200" />
                <p>《<%= item.worksName %>》-<%= item.Author %>  <%= item.Explain %></p>
            </li>
            <% }) %>
            <!-- 弹窗  开始-->
            <div id="myModal" class="modal" >
                <!-- 关闭按钮 -->
                <span class="close"  onclick="document.getElementById('myModal').style.display='none'">&times;</span>
                <!-- 弹窗内容 -->
                <img class="modal-content"   id="img01"  />
                <!-- 文本描述 -->
                <div id="caption"></div>
            </div>
            <!-- 弹窗  结束-->
        </ul>

    </div>
</div>

<!--授权说明-->
<div class="footer">
    <div >
        这些作品来源于网络，仅供学习鉴赏使用，
        图片版权归原作者或原照片所有者或原出版社所有，如有冒犯或侵权,敬请联系删除。 &nbsp;|&nbsp;版权所有:******
    </div>
    <div >
        ©Copyright of frame design is reserved in 2022.    </div>
</div>

<!-- 引入JS -->
<script type="text/javascript" src='javascripts/works/alert.js'></script>

</body>
</html>
